!!!
%html
  %head
    %link(rel="stylesheet" href="/css/camel.css")
    %title= settings.app_name

  %body
    %header
      %section#title
        %h1 #{settings.app_name} 
        %p is launching soon.

    %section#content
      %img{:src => '/images/rocket.png'}
      %p Sign up to receive news on the launch of #{settings.app_name}
      %form{:action => "/create", :method => "post"}
        %label E-Mail:
        %input#email{:type => "text", :value => "#{@prelaunch_subscriber.email}", :name => "email"}
        %input#submit{:type => "submit", :value => "Add me to the list", :class => "button"}
        - if @prelaunch_subscriber.errors[:email] 
          .form-error
            = @prelaunch_subscriber.errors[:email].first

